

.butto{
  background-color:green;
  text-align: center;
  justify-content: center;
}


.k{
  text-align: center;
  color: white;
}

.lo{
  text-align: center;
  color: white;
}

.top{
  background-image: url("/Images/college-banner3.png");
  background-size: cover;
  border-radius: 10px;
  color:white;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  justify-content: center;
  align-items: center;
}


.butt{
  background-color:green;
  text-align: center;
}

div #scroller{
    width:800px;
    height:500px;
    overflow-y: scroll;
    scrollbar-color: grey #fff;
    text-align: left;
    padding-left: 350px;
    
}

.add{
  background-color: skyblue;
  padding: 20px;
  min-height: 100vh;
}
