

.main{
  background-color: white;
  border-radius: 10px;
  max-width: 900px;
  width: 1000px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  align-items: center;
}

.high{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f8f8;
  padding: 40px;
  box-sizing: border-box;


}

.page{
  border: none;
  border-radius: 50px;
  max-width: 800px;
  background:white;
  padding: 40px;
  align-content:center;

}

.pag{
  color:blue;
}

.me{
  background-color: blue;
  width: 100%;
}

